@page "/reading/water"
@using Microsoft.AspNetCore.Mvc
@using System.Collections.Generic
@using Microsoft.Extensions.Configuration
@using System
@inject IJSRuntime JS
@inject NavigationManager NavManager
@inject Data.Arduino arduino
@inject Data.User user

<div class="topnav">
    <a href="overview"><i class="fas fa-chevron-left"></i></a>
    <h3>Water</h3>
</div>

<div class="water-section">
    @if (imageSource is not null)
    {
        <img src="@imageSource" />
    }
    <div class="graph">
        <h4>Water reservoir</h4>
        <canvas class="my-4 h-25" id="waterReservoirGraph"></canvas>
    </div>
    <div class="graph">
        <h4>Vochtigheid aarde</h4>
        <canvas class="my-4 h-25" id="soilMoistureGraph"></canvas>
    </div>
</div>

@code {
    private string Message { get; set; }
    private string loggedInUser;

    private int latestReservoirAmount;
    private string? imageSource;

    private async void displayGraph(List<string> labels, List<decimal> readingData, string elementid)
    {
        // Try to call the javascript function and otherwise save the errormessage
        try
        {
            // The first parameter is the function name in javascript and the rest are additional paremeters
            Message = await JS.InvokeAsync<string>("ShowGraph", labels, readingData, elementid);
        }
        catch (JSException ex)
        {
            Message = ex.Message;
        }
    }

    // Wait untill everything is done loading before we call in any javascript to prevent errors
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            // Get graph data and display
            var data = await arduino.loadData("waterReservoirGraph", "waterreservoir", 10);
            displayGraph(data.Item1, data.Item2, data.Item3);
            var data1 = await arduino.loadData("soilMoistureGraph", "soilmoisture", 10); //retrieve data
            displayGraph(data1.Item1, data1.Item2, data1.Item3); //display data
            await JS.InvokeAsync<string>("showNavmenu", false);

            // Check if user is logged in otherwise send to login
            if (!user.CheckLogin())
            {
                NavManager.NavigateTo("/login");
            }

            // Grab latest value and display according image
            latestReservoirAmount = await arduino.latestValue("waterreservoir") / 102;
            imageSource = $"img/waterkan/waterkan-{latestReservoirAmount}.png";

            // Refresh html
            StateHasChanged();
        }
    }
}